/* common shared styles */

* {
    font-family: 'Lato', sans-serif;
}

.paragraph-txt {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 32px;
}
.subscribe-form{
    display: flex;
    gap: 10px;
}

.btn-primary {
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    background-color: #E55473;
    padding: 20px 43px;
    border: none;
}

.txt-primary {
    color: #E55473;
}

section-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

header {
    background-color: #E554731A;
    padding: 0 200px;
}

.heading {
    display: flex;
    justify-content: space-between;
    margin-bottom: 170px;
    align-items: center;
}

.header-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 32px;
}

.header-img {
    width: 635px;
    height: 800px;
    padding-top: 50px;
}

/* main section makeup start from here  */

.main {
    padding: 0 200px;
}

.featured-section {
    margin-bottom: 128px;
}

.featured-txt {
    text-align: center;
}

.featured-img {
    display: flex;
    align-items: center;
    text-align: center;
}
.ft-img {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background-color: #A7216226;
    position: relative;
    display: flex;
    justify-content: center; 
    align-items: center;
}


#img1 {
    width: 310px;
    height: 428px;
    position: absolute;
    bottom: 0;
    
}
#img2 {
    width: 370px;
    height: 370px;
    position: absolute;
    background-color:;
}
#img3 {
    width: 314px;
    height: 471px;
    position: absolute;
    bottom: 0;
}

.feature-name {
    color: #272727;
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    text-decoration-line: underline;
}



.img-box {
    margin-left: 24px;
}



/* 
#img3 {
    background-color: #477D1126;
} */


/* service section */

.service-section {
    width: 1440px;
    height: 320px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    /* margin: 200px; */
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    /* padding: 85px 175px 87px 175px; */
    margin-bottom: 128px;
}

.service {
    padding: 85px 175px 87px 175px;
}

/* offer section */

.offer-section {
    /* width: 1922px;
    height: 620px; */
    padding: 80px 0;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 128px;
}

.offer-detail {
    text-align: center;
    margin-right: 186px;


}

.offer-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.offer-image {
    width: 318px;
    height: 420px;
}

/* social section makeup*/



.social-text {
    text-align: center;
}

.social-img {
    /* max-width: 80%; */
    gap: 20px;
    display: flex;
    align-items: center;
    /* margin: auto; */
    justify-content: center;
}

.sc-img {
    width: 342px;
}


/*subscribe section makeup  */

.subscribe-section {
   
    /* max-width: 80%;
    margin: auto; */
    margin-top: 128px;
    text-align: center;
    

}

.subscribe-data {
    background-image: url(./images/Rectangle\ 9.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 122px 287px 121px 287px;

}

#input-email {
    padding: 0 10px;
    width: 700px;
    height: 64px;
    border-radius: 8px;
    background: #FFF;
    border: none;
}



/* footer makeup */

footer {
    height: 449px;
    background: #111010;
    text-align: center;
    align-items: center;
    margin-top: 128px;
}

.footer-title {
    color: #FFFFFF;
    font-family: Lato;
    font-size: 48px;
    font-weight: 800;
}

#copyright {
    color: rgba(255, 255, 255, 0.40);
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
}

.description-footer {
    color: rgba(255, 255, 255, 0.90);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
}

.footer-txt{
    padding: 128px;
}